In [29]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [35]:
#Read Data and put into dataframe
df=pd.read_csv('comp.txt')
df

,Yelp Review Text,Classification,Reason
0,Let me begin by saying that there are two kind...,0,NaN
1,The only place inside the Loop that you can st...,1,"""only place inside the loop"""
2,I have walked by the Tokyo Hotel countless tim...,1,"""it reminds me of"" ""Carbon copy of"""
3,"If you are considering staying here, watch thi...",0,NaN
4,"This place is disgusting, absolutely horrible,...",0,NaN
...,...,...,...
95,I love this hotel. My fiance and I had our eng...,0,NaN
96,Classic location for smaller wedding/event wit...,0,NaN
97,I had my wedding (ceremony and reception) at T...,0,NaN
98,My wedding has happened. It happened at the Ca...,0,NaN
99,I cannot say enough good things about Anne Par...,0,NaN

In [36]:
df2=pd.read_csv('100_Yelp_Reviews_Labelled.csv')
df2['Classification']

0     0
1     1
2     1
3     0
4     0
     ..
95    0
96    0
97    0
98    0
99    0
Name: Classification, Length: 100, dtype: int64

In [31]:
#Add the manual annotations column
selected_columns=df[" Is_Comparative? (Stanford Algorithm)"]
annotations_column=selected_columns.copy()
annotations_column
df[" Is_Comparative? (Human Annotations)"]=annotations_column
df.at[1,' Is_Comparative? (Human Annotations)']=0
df

,Review Number,Review,Is_Comparative? (Our Algorithm),Is_Comparative? (Stanford Algorithm),Is_Comparative? (Human Annotations)
0,1,troubleshooting ad2500 and ad2600 no picture s...,0,0,0
1,2,repost from january 13 2004 with a better fit ...,1,1,0
2,3,does your apex dvd player only play dvd audio ...,0,0,0
3,4,or does it play audio and video but scrolling ...,0,0,0
4,5,before you try to return the player or waste h...,0,0,0
...,...,...,...,...,...
61,62,it s not a big deal for me,0,0,0
62,63,i simply watched the extra features on another...,0,0,0
63,64,had this been my only dvd player though it wou...,0,0,0
64,65,as it is i m keeping the machine,0,0,0
65,66,it works well enough so far for me to be satis...,0,0,0

AttributeError: 'DataFrame' object has no attribute 'data'